@import url(../../fonts/font.css);

body{
    font-family: 'Outfit';
}

.container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.container label{
    width: 300px;
}

.container label h5{
    font-size: 20px;
    text-align: center;
    margin: 0 0 10px 0;
}

.container label select{
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px #ddd;
    outline: none;
    border-radius: 20px;
}